<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Servidor" value="localhost" />
    <add key="BDLocal" value="Inventario2Tiers_local" />
    <add key="BDExterno" value="Inventario2Tiers_externo" />
    <add key="UserId" value="sa" />
    <add key="Password" value="masterKey" />
  </appSettings>
</configuration>